$main-color: #ff7000;
$color-gray: #ccc;
$color-blue: #537fe7;
$bg-color: #fff;
$text-main-color: #000;
$text-second-color: rgb(107, 104, 104);
$text-white-color: #fff;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$font-main: "Roboto", sans-serif;
$font-second: "M PLUS 1", sans-serif;

$header-height: 170px;
$header-tablet-height: 90px;
$header-mobile-height: 60px;
$header-shrink: 90px;

$tablet-width: 1024px;
$mobile-width: 600px;
