@use "../../globalsass/" as *;
.text-box {
  padding: 0 2rem;
  position: relative;

  &__input {
    width: 100%;
    height: 40px;
    font-family: $font-second;
    outline: none;
    padding: 5px 5px 0;
    border: none;
    border-bottom: 2px solid $color-gray;
    font-size: 2rem;
    z-index: 99;
    transition: 0.5s ease;
  }

  &__placehoder {
    position: absolute;
    font-family: $font-main;
    color: $color-gray;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 5px 5px 0;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 98;
    pointer-events: none;
    transition: 0.5s ease;
    display: none;
  }

  &--animate {
    display: block;
  }

  &__input:focus + &__placehoder,
  &__input:valid + &__placehoder {
    top: -5px;
    color: $main-color;
  }

  &__input:valid {
    border-bottom-color: $main-color;
  }

  &__input:focus {
    border-bottom-color: $main-color;
  }

  &-message {
    margin-top: 1rem;
    color: red;
    font-size: 1.2rem;
  }
}
